.site-card-border-less-wrapper{
  margin: 30px;
}

.cardGrid {
  border-left: solid 3px #1890ff !important;
  border-radius: 0 10px 10px 0 !important;
  margin: 5px;
  color: black;
  font-weight: 500;
  font-size: 14px;
}